.page-title {
    text-align: center;
}

/* pages containing user input forms */

.login-page, 
.signup-page, 
.new-job-page,
.edit-job-page,
.application-page {
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

}

.login-form, 
.signup-form, 
.new-job-form,
.edit-job-form,
.application-form {
    margin: 0;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    color: var(--primary);
    width: 30em;
    height: 35em;
    position: relative;
    border-radius: 1em;
    box-shadow:  0 8px 32px 0 var(--darkolive-shadow);
   
    background: url('./../assets/images/paws_bones.jpg');
    background-size:-1%;    
    /* border: 3px solid var(--darkolive); */
}

form h1 {
    width: 100%;
    border-radius: 50%;
    height: auto;
    margin: 0;
    padding: 10px;
    color: var(--yellow);
    font-size: 3rem;
}

form a {
    color: var(--yellow);
}







/* Jobs Page */
.jobs-title-container {
    display: flex;
    flex-direction: row;
    gap: 40vw;
    align-items: center;

}

.browse-jobs-title {
    display: inline
}

.jobs-title-container  .btn-add-job {
    height: 50%
}


/* Notification Page after account is successfully deleted */

.notification-account-deleted {
    display: flex;
    flex-direction: row;
    text-align: center;
    justify-content: center;
    align-items: center;
    gap: 4vh;
    margin: 0;
}

.account-deleted-text-container {
    width: 60vw;
    display: flex;
    flex-direction: column;
    gap: 5vh;
    height: 85vh;
}
.account-deleted-text-container p {
    font-size: 4.5vh;
    padding-left: 15vw;
    padding-right: 15vw;
}

.account-deleted-text-container a {
    font-size: 3vh;
    text-decoration: none;
    color: var(--darkolive);
    font-weight: 500;
}

.account-deleted-img-container {
    width: 40vw;
    display: flex;
    flex-direction: column;
    background-color: var(--darkolive);
}
.account-deleted-img {
   width: 100%;
}

.not-found {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 3rem;
}

.not-found h1 {
    font-family: var(--font-editorial);
    color: var(--darkolive);
    margin-top: 2rem;
}

/* home images */

.home .dog-cat-img {
    width: 25%;
}
.home .kittens-img {
    width: 15%;
}
.home .puppy1-img {
    width: 15%;
}
.home .puppy2-img {
    width: 15%;
}
.home .ecs-img {
    width: 30%;
}
.home .rabbit-img {
    width: 25%;
}

.pitbull-vector-img {
    width: 8%;
}

/* gifs */

.rs-gif {
    border-radius: 8px;
    border: 3px solid var(--darkolive);
}