.page-title {
    text-align: center;
}

.login-page, .signup-page, .new-job-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.login-form, .signup-form, .new-job-form {
    background-color: darkolivegreen;
    color: white;
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 50vw;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}