
/* 
----------------------------------------------------------------------------------------------------------------
form elemets
----------------------------------------------------------------------------------------------------------------
*/

/* elements shared by different pages */

.login-page, 
.signup-page, 
.new-job-page,
.edit-job-page,
.edit-user-page,
.application-page {
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

}

/* <form> */
.login-form, 
.signup-form, 
.new-job-form,
.edit-job-form,
.edit-user-form,
.application-form {
    margin: 0;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    color: var(--primary);
    width: 500px;
    height: 35em;
    position: relative;
    border-radius: 1em;
    box-shadow:  0 8px 32px 0 var(--darkolive-shadow);
   
    /* background: url('./../assets/images/paws_bones.jpg'); */
    background-size: 100em;    
    /* border: 3px solid var(--darkolive); */
}

/* <h1> */
form h1 {  /* form title */
    width: 100%;
    height: auto;
    margin: 0;
    padding: 10px;
    color: var(--lightolive);
    font-size: 2rem;
    text-align: center;
}

/* <Link> */
form a { 
    color: var(--yellow);
    font-size: 18px;
}

/* <p> */
form p {
    color: var(--primary);
    font-size: 18px;
}


/* <input> | <select> | <textarea> */
input[type=text],
input[type=password],
select,
textarea
{
 
    background-color: var(--lightolive);
    color: black;
    border-radius: 0.25em;
    padding: 0.75em;
    font-size: 17px;
    outline: none;
    
}

input[type=text]:focus,
input[type=password]:focus,
select:focus,
textarea:focus
{
    border: 3px solid var(--crimson);

}
  
input[type=text],
input[type=password],
select
{
    height: 2.1em;
    width: 80%;

}
  
textarea {
    height: 9em;
    width: 80%;
}

select {
    height: 100%;
    padding: 0;
    padding-left: 1em;
}

/* input field placeholder text */
input[type=text]::placeholder,
input[type=password]::placeholder,
select::placeholder,
textarea::placeholder
{
    color: var(--darkolive);
}
  
/* submit buttons */
input[type=submit] {
width: 35%;
height: 2.5em;
background-color: rgb(68, 35, 7);
border: 2px solid var(--lightolive);
color: var(--lightolive);
display: flex;
justify-content: center;
align-items: center;
transition: 0.5s;
cursor: pointer;
border-radius:0.45em;
font-size: 17px;
}
  
input[type=submit]:hover {
    transform: scale(1.08);
    color: var(--yellow);
    border: 2px solid var(--yellow);
}

/* 
----------------------------------------------------------------------------------------------------------------
Sign Up Page
----------------------------------------------------------------------------------------------------------------
*/

.signup-form {
    height: 40em;
    padding-bottom: 1em;
    background: url('./../assets/images/pitbull_vector.png');
    background-size: 100%;
    background-color: rgb(68, 35, 7);
    
}

.signup-form p {
    color: black;
}

.signup-form a {
    color: darkred;
    
}

/* 
----------------------------------------------------------------------------------------------------------------
Login Page
----------------------------------------------------------------------------------------------------------------
*/

.login-form {
    height: 25em;
     /*padding-bottom: 1em; */
    background: url('./../assets/images/ai_puppy.png');
    background-size: 150%;
    background-color: rgb(185, 154, 127);
    background-position-y: -1.5rem;
    background-position-x: -7.5rem
    
}

.login-form h1 {
    color: var(--crimson);
}

.login-form a {
    padding-bottom: 1.5rem;
    color: var(--crimson);
    font-weight:bold;

    
}

.login-form p {
    color: var(--crimson);
    font-weight:bold;
    
}

/* 
----------------------------------------------------------------------------------------------------------------
New Job Form
----------------------------------------------------------------------------------------------------------------
*/

.new-job-form {
    height: 50em;
 
    justify-content: space-between;
    padding-bottom: 2em;
    padding-top: 2em;
    background-size: 190%;
    background-position-y:0.5rem;
    background-color:  rgb(136, 52, 52);

}

.datePicker {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    border: none;

}


.datePicker input {
    background-color: none !important;
    width: 100% !important;
    border: none!important;
    height: 1.5em!important;

}

.date-input {
    height: 2.1em;
    width: 60%;
    display: flex;
    align-items: center;
    justify-content:flex-start;
    background-color: var(--lightolive);
    border: 2px solid var(--darkolive);
}

.time-container input, .type-container select {
    width: 60% !important
}

.date-input:focus {
    border: 3px solid var(--crimson)!important;
   
}

.date-container, .time-container, .type-container {
    height: 2.1em;
    width: 80%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-radius: 0.25em;
}


/* media queries */

@media only screen and (max-width: 620px) {
    .login-form, 
    .signup-form, 
    .new-job-form,
    .edit-job-form,
    .application-form 
    {
        width: 90vw;
    }
}

@media only screen and (max-width: 450px) {

    .new-job-form {
        height: 60em;
            
    }


    .new-job-form input, .new-job-form select {
        padding: 1em auto;
            
    }

    .date-container, .time-container, .type-container {
     

        flex-direction: column;
        /* height: 2.1em;
        width: 80%;
        display: flex;
        justify-content: space-around;
        align-items: center;
        border-radius: 0.25em; */
    }
}